body {
    background-color: rgb(235, 255, 166);
    margin:0px;
    margin-top:10px;
}
.container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(50,50px);
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    min-width:600px;
}



/*Nav Bar*/
.me {
    grid-column: 1/span 8;
    grid-row: 2;
    background-color: rgb(1, 4, 16);
    width: 100%;
    display: flex;
    align-items: center;
    color: rgb(210, 227, 255);
    font-size:20px;
}
    .me img {
        height: 150px;
        margin-left: 5%;
        border-radius: 50%;
        border: 10px solid rgb(235, 255, 166);
    }
    .me {
        display:flex;
    }
    .me p{
        margin-left:20px;
    }
    .nav{
        grid-column:9/span4;
        grid-row:2;
        background-color:rgb(1, 4, 16);
        color:rgb(210, 227, 255);
        font-size:20px;
    }
    .bar ul{
        display:flex;
        margin:10px;
    }
        .nav ul li {
            flex-basis:40%;
            list-style: none;
            text-align:center;
            border-radius:5%;
        }
        .nav ul li:hover{
            color:rgb(235, 255, 166);
            background-color:rgb(18, 21, 31)
        }

        /*About Me*/
        .about{
            background-color:rgb(1, 4, 16);
            color:rgb(210, 227, 255);
            grid-column:span 12;
            grid-row:5/span 9;
            display:flex;
            justify-content:center;
            align-items:center;
            flex-direction:column;
        }
        .about p{
            font-size:50px;
        }
        .subtext{
            font-size:20px!important;
            margin-bottom:50px;
        }
        .about p,h2{
            margin-right:10%;
            margin-left:10%;
        }
        h2{
            color:rgb(140, 179, 245);
        }
        .about p a{
            text-decoration:none;
            color:rgb(235, 255, 166);
        }
        .about p a:hover{
            color:rgb(228, 255, 135);
        }

        /*Linkedin and github*/
.bottom {
    color: rgba(210, 227, 255,0.75);
    font-size: 25px;
    grid-column: span 12;
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
}
.bottom a {
    height: 50px;
    width: 50px;
    background-color: rgba(140, 179, 245,0.75);
    color:rgba(18, 21, 31,0.75);
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    margin-bottom:1%;
}
.bottom a:hover{
    color:rgb(228, 255, 135);
    background-color:rgb(140, 179, 245);
}
.bottom a:active{
    color:rgb(1, 4, 16);
    background-color:rgb(228, 255, 135);
}
        .bubble i{
            margin-top:10px;
        }